body{
    background-color: antiquewhite;
}

p{ 
    padding: 0% 9% 2% 52%;   
}

.bigger{
    width: 40%;
    margin: 5% 2% 5% 5%;
    
}

.bigger2{
    width: 38%;
    margin: 1% 2% 0% 5%;
}

.second{
    width: 25%;
    margin: 2% 0% 5% 5%;
}

.third{
    width: 25%;
    margin: 5% 0% 5% 5%;
}


fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  
  }




  .dark-mode{
      background-color:rgb(44, 42, 42);
        color:bisque;
  }


    .small-text{
        font-size: 60%;
    
  }

    .medium-text{
        font-size: 120%;
  }


    .large-text{
        font-size: 300%;
}


